body {
      font-family: Arial, sans-serif;
      background: #33383f;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .login-box {
      background: #ffffff;
      padding: 35px;
      width: 320px; 
      border-radius: 8px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .login-box input {
      display: flex;
      justify-self: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .buttons {
      display: flex;
      gap: 10px;
    }

    .buttons button {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
    }

    .login-btn {
      background: #007bff;
      color: #fff;
    }

    .reset-btn {
      background: #6c757d;
      color: #fff;
    }

    .buttons button:hover {
      opacity: 0.9;
    }

    .loginPrint{
      font-size:  15px;
      font-weight: bold;
      color: red;
    }